<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SearchMissingChild</title>
</head>
<body>
    <h1>上传照片进行查找</h1>
    <form action="" enctype='multipart/form-data' method='POST'>
        <input type="file" name="file" style="margin-top:20px;"/>
        <input type="submit" value="上传" class="button-new" style="margin-top:15px;"/>
    </form>
    <table>
        <h1>查询图片</h1>
        <tr>
            <!-- <img src="./static/images/query.jpg" width="128" height="256"/> -->
            <img src="{{ url_for('static', filename='./images/query.jpg',_t=val1) }}" width="128" height="256"/>
        </tr>

        <h1>查询结果</h1>
        {% for image_info_segment in image_info_list %}
        <tr>
            <td>camera {{ image_info_segment[0][0] }} </td>
            {% for (camera_id, time_step, img_name) in image_info_segment %}
            <td>
                <img src="{{ url_for('static', filename='./images/'+img_name,_t=val1) }}" width="128" height="256"/>
                <h5> {{ time_step }} </h1>
            </td>
            {% endfor%}
        </tr>
        {% endfor %}
    </table>
</body>
</html>